body {
	background-image: url("../assets/images/background3.jpg");
	background-color: #c097aa;
	background-attachment:fixed;
	background-repeat: repeat;
	position:absolute;
	-webkit-text-fill-color: white;
	font-family: Palatino;
	width: 100%;
}

h1 {
	//margin-top: 25%;
	text-align: center;
	overflow: hidden;
	font-size: 60px;

	.aboutme {
		margin-top: 25%;
	}
}

p {
	margin-bottom: 0rem;
}

.footer {
	height: 100px;
}

.header{
	text-align: center;
}

.topnav {
	width: 100%;
	z-index:1;
	position: fixed;
	// overflow: hidden;
	background-color:#c097aa;
}
  
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	//font-size: 17px;
}
  
.topnav a:hover {
	background-color: #9f00873a;
	color: black;
}
  
.topnav a.active {
	background-color: #9f0088;
	color: white;
}

.subsection {
	border: 2px solid whitesmoke;
	margin-top: 5%;
	border-radius: 15px;
	padding: 15px;
}

.profile {
	height: 250px;	
	border-radius: 100%;
	display: block;
	margin-top: -68px;
    margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
}

.cal-logo {
	width: 50px;
	height: 50px;
}

.mo-logo {
	width: 50px;
	height: 40px;	
}

.em-logo {
	width: 100px;
	height:	25px;
}

.nerds-logo {
	width: 50px;
	height: 50px;
}

.section {
	padding: 20px; 
}

.centerd {
	text-align: center;
}

.text {
	letter-spacing: normal;
}

.semi-solid-section {
	//background-color: #c097aa98;
	background-color: #80637098;
	width: 100%;
}

.semi-solid-section2 {
	background-color: #444d7798;
	width: 100%;
}


.solid-section {
	background-color: #c097aa;
	//background-color: #b87896;
	//background-color: #aa7ec7;
	//background-color: #c097aad7;
	width: 100%;
}
